input.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="SumaRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SumaResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="result" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RestaRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RestaResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="result" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProductoRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProductoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="result" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DivisionRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:float"/>
                        <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DivisionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="result" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="SumaSoapIn">
        <wsdl:part name="parameters" element="tns:SumaRequest"/>
    </wsdl:message>
    <wsdl:message name="SumaSoapOut">
        <wsdl:part name="parameters" element="tns:SumaResponse"/>
    </wsdl:message>
    <wsdl:message name="RestaSoapIn">
        <wsdl:part name="parameters" element="tns:RestaRequest"/>
    </wsdl:message>
    <wsdl:message name="RestaSoapOut">
        <wsdl:part name="parameters" element="tns:RestaResponse"/>
    </wsdl:message>
    <wsdl:message name="ProductoSoapIn">
        <wsdl:part name="parameters" element="tns:ProductoRequest"/>
    </wsdl:message>
    <wsdl:message name="ProductoSoapOut">
        <wsdl:part name="parameters" element="tns:ProductoResponse"/>
    </wsdl:message>
    <wsdl:message name="DivisionSoapIn">
        <wsdl:part name="parameters" element="tns:DivisionRequest"/>
    </wsdl:message>
    <wsdl:message name="DivisionSoapOut">
        <wsdl:part name="parameters" element="tns:DivisionResponse"/>
    </wsdl:message>
    <wsdl:portType name="calculatorServiceSoapPort">
        <wsdl:operation name="Suma">
            <wsdl:input message="tns:SumaSoapIn"/>
            <wsdl:output message="tns:SumaSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Resta">
            <wsdl:input message="tns:RestaSoapIn"/>
            <wsdl:output message="tns:RestaSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Producto">
            <wsdl:input message="tns:ProductoSoapIn"/>
            <wsdl:output message="tns:ProductoSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Division">
            <wsdl:input message="tns:DivisionSoapIn"/>
            <wsdl:output message="tns:DivisionSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="calculatorSoapBinding" type="tns:calculatorServiceSoapPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Suma">
            <soap:operation soapAction="Suma"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Resta">
            <soap:operation soapAction="Resta"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Producto">
            <soap:operation soapAction="Producto"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Division">
            <soap:operation soapAction="Division"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="calculatorService">
        <wsdl:port name="calculatorServiceSoapPort" binding="tns:calculatorSoapBinding">
            <soap:address location="http://localhost:8000/calculator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>